<h1>Hello students and parents,</h1>
<h2>I have some good news and some bad news…</h2>
<p style="text-decoration: underline;">The bad news: </p>
As I was updating the app to include classes for the rest of August and all of September, I accidentally deleted the August 11 - 27th classes. What this means is that, if you have signed up for a class for August 11 - 27th before today (August 11 at 3:00 PM), you have to sign up for that class again. I apologize for any inconvenience this might have caused. 

<p style="text-decoration: underline;">The good news:</p>
Classes are up for the rest of August through the end of September! We will be switching to a new schedule on September 8th that allows for more classes for everyone, with the addition of open mat on Saturdays, as well as a level 1 and level 2 class on Saturday as well. The signup for open mat is up on the app in the same place as the in-person class signups. The new schedule that will start on September 8th can be found <a href="/store/september_2020.pdf">here</a>, as well as on each respective in-person class signup.