<html>
    <meta http-equiv = "refresh" content = "20; url = https://emafiles.herokuapp.com/store/board_breaking"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }
        html {
            height: 100%;
            background-image: linear-gradient(#0095ff, #9ed7ff);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        p {
            font-size: 18px;
        }
    </style>
    <head>
        <p><strong><%= student_name %></strong>signed up for Summer Camp from <strong><%= class_time %></strong>.</p><br>
        <p>We'll see you soon!!</p>
        <p>If you need to cancel your signup, please message EMA on Facebook so we can make room for other students.</p>
    </head>
</html>