<html>
    <meta http-equiv = "refresh" content = "10"; url = "https://emafiles.herokuapp.com/store/student_progress_check"/>
    <style>
        body{
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            background-color: black;
        }
    </style>
    <body>
        <h2><%= comp %> <%= stud_name %>! Your progress check scores have been submitted. (This page will retuen to the progress check page in 10 seconds.</h2>
    </body>
</html>