<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv = "refresh" content = "10; url = https://emafiles.herokuapp.com/store/student_progress_check_month2"/>
    <style>
        * {
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }
        html {
            min-height: 100%;
            background-image: linear-gradient(#0095ff, #9ed7ff);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        #page-container {
            position: relative;
            min-height: 90vh;
        }
        #content-wrap {
            padding-bottom: 2.5rem;
        }
        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2.5rem;
        }
        button, label, input, select {
            display: block;
            font-size: 100%;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            width: 100%;
            padding: 5px;
            height: 30px;
        }
        p {
            font-size: 16px;
        }
        label {
            font-style: italic;
        }
    </style>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <h2><%= comp %> <%= stud_name %>! Your progress check scores have been submitted. Your total score is <%= tot_score %>.</h2>
                <p>(This page will return to the progress check page in 10 seconds.)</p>
            </div>
        <footer id="footer">
            Intellectual property of Chandler de Spirlet.
        </footer>
    </div>    
    </body>
</html>
