<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
</style>
<body>
<h1>Progress Check</h1>
<a href="/store/student_progress_check">Student Progress Check Month 1</a><br>
<a href="/store/student_progress_check_month2">Student Progress Check Month 2</a><br>
<a href="/store/view_scores.pdf">View Progress Check Scores</a><br>

<h1>Schedule & Calendar</h1>
<a href="/store/schedule.pdf">Schedule</a><br>
<a href="/store/Calendar.pdf">Calendar</a><br>

<h1>Testing & Rubrics</h1>
<a href="/store/test_lookup">Testing Lookup</a><br>
<a href="/store/testing_signup_dragons">Testing Signup: Dragons</a><br>
<a href="/store/testing_signup_basic">Testing Signup: Basic</a><br>
<a href="/store/testing_signup_level1">Testing Signup: Level 1</a><br>
<a href="/store/testing_signup_level2">Testing Signup: Level 2</a><br>
<a href="/store/testing_signup_level3">Testing Signup: Level 3</a><br>
<a href="/store/Level_1_Rubric.pdf">Level 1 Rubric</a><br>
<a href="/store/Level_2_Rubric.pdf">Level 2 Rubric</a><br>
<a href="/store/Level_3_Rubric.pdf">Level 3 Rubric</a><br>
<a href="/store/ITP.pdf">Intent To Promote</a><br>

<h1>Homework Cards</h1>
<a href="/store/aspHomework.pdf">After School Program Homework</a><br>
<a href="/store/Lvl1Homework.pdf">Level 1 Homework</a><br>
<a href="/store/Lvl2Homework.pdf">Level 2 Homework</a><br>
<a href="/store/Lvl3Homework.pdf">Level 3 Homework</a><br>
<a href="/store/BBHomework.pdf">Black Belt Homework</a><br>
<a href="/store/1Confidence">1. Confidence</a><br>
<a href="/store/2Discipline">2. Discipline</a><br>
<a href="/store/3Respect">3. Respect</a><br>
<a href="/store/4Responsibility">4. Responsibility</a><br>
<a href="/store/5Focus">5. Focus</a><br>
<a href="/store/6GoalSetting">6. Goal Setting</a><br>

<h1>Curriculum and Manuals</h1>
<a href="/store/Level_1_Manual.pdf">Level 1 Manual</a><br>
<a href="/store/Level_2_Manual.pdf">Level 2 Manual</a><br>
<a href="/store/Level_3_Manual.pdf">Level 3 Manual</a><br>
<a href="/store/Lvl1Sparring.pdf">Level 1 Sparring List</a><br>
<a href="/store/Lvl2Sparring.pdf">Level 2 Sparring List</a><br>
<a href="/store/ASPPacket.pdf">After School Program Packet</a><br>
<a href="/store/Level1Curriculum.pdf">Level 1 Curriculum</a><br>
<a href="/store/Level2Curriculum.pdf">Level 2 Curriculum</a><br>
<a href="/store/Level3Curriculum.pdf">Level 3 Curriculum</a><br>

<h1>Class Signups</h1>
<a href="/store/class_lookup">Class Lookup</a><br>
<a href="/store/email_lookup">Email Lookup</a><br>
<a href="/store/dragons_signup">Dragons Classes</a><br>
<a href="/store/basic_signup">Basic Classes</a><br>
<a href="/store/level1_signup">Level 1 Classes</a><br>
<a href="/store/level2_signup">Level 2 Classes</a><br>
<a href="/store/level3_signup">Level 3 Classes</a><br>
<a href="/store/prep_signup">Prep Cycle Classes</a><br>
<a href="/store/1degree_signup">Black Belt Classes</a><br>
<a href="/store/weapons_signup">Weapons Classes</a><br>
<a href="/store/open_mat_signup">Open Mat Classes</a><br>

<h1>Other</h1>
<a href="/store/board_breaking">Ninja Camp</a><br>
<a href="/store/announcement">announcement</a><br>
<a href="/store/CalendlyInstructions">Private Lesson</a><br>
<a href="/store/SWAT1Tasks">SWAT 1 Tasks</a><br>
<a href="/store/shopping_cart">Shopping Cart</a><br>
</body>