<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            background-color: black;
        }
        #Instructor_Login {
                background-color: #033dfc; /* Green */
                border: none;
                color: black;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                cursor: pointer;
            }
    </style>
    <head><h1>Instructor View</h1></head>
    <body>
        <button type="button" id="Instructor_Login" onclick="location.href = 'https://emafiles.herokuapp.com/store/testing_schedule';">Testing Signups</button><br>
        <button type="button" id="Instructor_Login" onclick="location.href = 'https://emafiles.herokuapp.com/store/add_day';">Add a Testing Time</button>
    </body>
</html>