<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<!--Create a form to take input from user-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style> 
    body {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
    input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    
    input[type=text]:focus {
        width: 100%;
    }
    input[type=password] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    
    input[type=password]:focus {
        width: 100%;
    }
    [type=submit] {
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    }

    [type=submit] {
        background-color: white; 
        color: black; 
        border: 2px solid blue;
    }

    [type=submit]:hover {
        background-color: blue;
        color: white;
    }
    .dark td {
        color: white;
    }
    .white td {
        color: black;
    }
    .dark {
        height: 100%;
        background-color: black;
    }
    .white {
        height: 100%;
        background-color: white;
    }
    .white body {
        background-color: white;
    }
    .dark [type=submit] {
        background-color: #333;
    }
    .white [type=submit] {
        background-color: white;
    }
    .dark [type=submit]:hover {
        color: white;
    }
    .white [type = submit]:hover {
        color: white;
    }
    .dark input[type=text]{
        background-color: #333;
        color: white;
        border: 2px solid white;
    }
    .dark input[type=password]{
        background-color: #333;
        color: white;
        border: 2px solid white;
    }
    .white input[type=text] {
        background-color: white;
        color: black;
        border: 2px solid black;
    }
    .white input[type=password]{
        background-color: white;
        color: black;
        border: 2px solid black;
    }
</style>
<div id="data">
<form action="/store/login" method="post" name="form1">
    <table width="25%" border="0">
        <tr>
            <td>Username</td>
            <td><input type="text" name="bbuser" id="userid" value="<%= files_user %>"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="bbpass" id="userpass" value="<%= files_pass %>"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="Submit" value="Login"/></td>
        </tr>
    </table>
</form>
</head>
</div>
<script>
    var x = "True";
    var y = "False";
    var localTime = new Date();
    // var localTime = new Date(2018, 11, 24, 10, 33);
    var hours   = localTime.getHours();
    console.log(hours, ' -hours');
    var timeString = "" + hours;
    
    console.log('localTime is ', localTime);
    console.log(timeString);

    if (hours >= 7 && hours <= 19) {
        console.log(x);
        document.getElementById("data").classList.add('white');
    } else {
        console.log(y);
        document.getElementById("data").classList.add('dark');
        // document.getElementById("body-content").classList.add('dark');
    }
</script>

