<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<html>
    <title>Testing Lookup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        label {
            font-size: 20px;
        }
        h1 {
            text-align: center;
        }
        * {
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }
        html {
            background-image: linear-gradient(#0095ff, #9ed7ff);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        p {
            font-size: 14px;
        }
        input[type="email"], input[type="submit"] {
            display: block;
            font-size: 100%;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            width: 100%;
            padding: 5px;
            height: 30px;
        }
        label {
            margin-bottom: 5px;
        }
        button {
            width: 60%;
            margin: 0 auto;
        }
        label{
            font-weight: bold;
        }
    </style>
    <head>
        <h1>Test Lookup</h1>
    </head>
    <body>
        <p>Enter your email to lookup your testing time.</p>
        <form action="/store/test_lookup" method="post">
            <label>Email: </label><input type="email" name="email" id="email" pattern="[A-z0-9.]+[@][A-z0-9]{1,}[.]+[A-z]{2,}" value="<%= email %>" required placeholder="Email"><br>
            <input type="submit" name="Preview" value="Lookup"/>
        </form>
    </body>
</html>