<html>
<style>
    body {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
    h1 {
        color: white;
        align-content: center;
        position: relative;
        scroll-behavior: smooth;
    }
    a {
    background-color: red;
    box-shadow: 0 5px 0 darkred;
    color: white;
    padding: 1em 1.5em;
    position: center;
    text-decoration: none;
    }

    a:hover {
    background-color: #ce0606;
    }

    a:active {
    box-shadow: none;
    top: 5px;
    }

    /* Non-Demo Styles */
    body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    table {
        align-items: center;
        scroll-behavior: smooth;
    }
</style>
<h1>EMA Fitness Division Workouts</h1>
<br>
<table>
    <tr>
        <td><a href="/store/schedule">Schedule</a><br></td>
    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
</table>
<body>
</body>
</html>