<html>
<style>
    body {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
    h1 {
        color: black;
        align-content: left;
        position: relative;
        scroll-behavior: smooth;
        width: 50%;
    }
    a {
    background-color: red;
    box-shadow: 0 5px 0 darkred;
    color: white;
    padding: 8px;
    position: center;
    text-decoration: none;
    }

    a:hover {
    background-color: #ce0606;
    }

    a:active {
    box-shadow: none;
    top: 5px;
    }
    tr {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    /* Non-Demo Styles */
    body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    table {
        align-items: center;
        scroll-behavior: smooth;
    }
</style>
<h1>EMA Fitness Division Workouts</h1>
<br>
<table>
    <tr>
        <td><a href="/store/CardioKiller">Cardio Killer</a><br></td>
    </tr>
    <tr>
        <td><a href="/store/Nasty30">Nasty 30</a><br></td>
    </tr>
    <tr>
        <td><a href="/store/Warrior">Warrior</a><br></td>
    </tr>
</table>
<body>
</body>
</html>